/* .skills-container {
    padding: 20px;
    background-color: #1e1e2f;
    color: #ffffff;
}

.skills-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-category {
    width: 45%;
}

.skill-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.skill-bar {
    margin-bottom: 20px;
    position: relative;
}

.skill-bar p {
    margin: 0;
    font-size: 1.2rem;
}

.bar-wrapper {
    position: relative;
    background: #000000;
    border-radius: 5px;
    height: 10px;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.bar {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    height: 100%;
    width: 0%;
    border-radius: 5px;
}

.percentage {
    position: absolute;
    top: -20px;
   
    right: 0;
    color: #ffffff;
    font-size: 0.9rem;
    background: #000000;
    padding: 0 5px;
    border-radius: 3px;
    z-index: 1;
   
}

.bar.full {
    background: #ff416c;
    
} */