/* Navbar link styles */
ul li a {
    position: relative;
}

ul li a.active {
    color: orange;
    /* Color of the text for active link */
}

ul li a.active::before,
ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: orange;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

ul li a.active::before {
    top: 0;
    /* Line above the text */
    transform: scaleX(1);
}

ul li a.active::after {
    bottom: 0;
    /* Line below the text */
    transform: scaleX(1);
}