/* Navbar link styles */
ul li a {
    position: relative;
}

ul li a.active {
    color: orange;
    /* Color of the text for active link */
}

ul li a.active::before,
ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: orange;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

ul li a.active::before {
    top: 0;
    /* Line above the text */
    transform: scaleX(1);
}

ul li a.active::after {
    bottom: 0;
    /* Line below the text */
    transform: scaleX(1);
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .bg-bodyColor {
    background-color: #1e1e1e;
}

.dark-mode .text-gray-400 {
    color: #cccccc;
}

.dark-mode .border-b-gray-600 {
    border-color: #444444;
}

.dark-mode .bg-gray-900 {
    background-color: #121212;
}

.dark-mode .text-white {
    color: #ffffff;
}

.dark-mode .text-designColor {
    color: #ff6347;
    /* or any color you define as designColor */
}