/* Banner.css */

/* Container for the entire section */
.bannerSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Align items to the top of the container */
    justify-content: space-between;
    /* Ensure items are spaced out */
    padding: 0 20px;
    /* Add padding for better spacing */
}

/* Container for the banner image */
.bannerImageContainer {
    position: relative;
    margin-top: 200px;
    width: 500px;
    height: 520px;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    top: -110px;
    /* Adjust this value to move the image upwards */
}

.bannerImageBackground {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(135deg, #e4ba2f, #de9644, #f8eec8, #ff8c00);
    z-index: 0;
}

.bannerImage {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #0f172a, #fb0303, #e64966, #49060d);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.bannerImage:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Icon Styles */
.bannerIcon {
    font-size: 1.5rem;
    transition: color 0.3s;
}

.bannerIcon:hover {
    color: #ff8c00;
    /* Change this to the desired hover color */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .bannerImageContainer {
        width: 300px;
        height: 320px;
        margin-right: 0;
        margin-left: 20px;
        /* Ensure margin from the left */
        top: -60px;
        /* Adjust this value as needed */
    }

    .bannerImageBackground {
        width: 300px;
        height: 300px;
    }

    .bannerImage {
        width: 270px;
        height: 270px;
    }
}

@media (max-width: 480px) {
    .bannerImageContainer {
        width: 250px;
        height: 270px;
        margin-right: 0;
        margin-left: 20px;
        /* Ensure margin from the left */
        top: -40px;
        /* Adjust this value as needed */
        display: none;
        /* Hide the image container on smaller screens */
    }

    .bannerImageBackground {
        display: none;
        /* Ensure background is hidden */
    }

    .bannerImage {
        display: none;
        /* Ensure the image is hidden */
    }
}