/* Banner.css */

.bannerImageContainer {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImageBackground {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(135deg, #007cf0, #00dfd8, #ff0080, #ff8c00);
    z-index: 0;
}

.bannerImage {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #0f172a, #3b82f6, #38bdf8, #9333ea);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1;
}

.bannerImage:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}